<header class="ze-header">
  <div class="ze-container flex items-center justify-center">
    {% comment %} Moible menu star here {% endcomment %}
    {%- render 'sinippets-mobile-menu' -%}
    {% comment %} Moible menu end here {% endcomment %}

    {% comment %} Logo block start here  {% endcomment %}
    <div class="ze-logo">
      {%- if section.settings.toggle_logo == 'logo' -%}
        <a href="{{ shop.url }}">
          <img src="{{ section.settings.logo | image_url }}" width="" height="" alt="{{ shop.name }} logo">
        </a>
      {%- endif -%}

      {%- if section.settings.toggle_logo == 'text' -%}
        <a href="{{ shop.url }}">{{ section.settings.ze_logo_text }}</a>
      {%- endif -%}
    </div>
    {% comment %} Logo block end here  {% endcomment %}

    {% comment %} Header icons block start here {% endcomment %}
    <div class="ze-account-cart">
      {% if customer %}
        <a href="/account" class="ze-account">
          <i class="ri-user-3-line"></i>
        </a>
      {% else %}
        <a href="/account/login" class="ze-account">
          <i class="ri-user-3-line"></i>
        </a>
      {% endif %}
      <a href="/cart" class="ze-cart" id="ze-cart-icon">
        <i class="ri-shopping-cart-2-line"></i>
        <span class="ze-cart-count-wrapper"
          >(<span class="ze-cart-count">{{ cart.item_count }}</span>)</span
        >
      </a>
    </div>
    {% comment %} Header icons block end here {% endcomment %}
  </div>

  <!-- Cart Drawer -->
</header>

{% schema %}
{
  "name": "ZE Main Header",
  "settings": [
    {
      "type": "select",
      "id": "toggle_logo",
      "label": "Show Name or Logo",
      "default": "text",
      "options": [
        {
          "label": "Logo",
          "value": "logo"
        },
        {
          "label": "Text",
          "value": "text"
        }
      ]
    },
    {
      "type": "text",
      "id": "ze_logo_text",
      "label": "Logo Text",
      "default": "My Shopify Store"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "logo"
    },
    {
      "type": "inline_richtext",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "Main Menu"
    },
    {
      "type": "inline_richtext",
      "id": "collection_heading",
      "label": "Collection Heading",
      "default": "Popular Products"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Popular Collection"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "limit": 3,
      "settings": [
        {
          "type": "header",
          "content": "Menu Settings"
        },
        {
          "type": "inline_richtext",
          "id": "menu_heading",
          "label": "Menu Heading",
          "default": "SHOP"
        },
        {
          "type": "link_list",
          "id": "menu_link",
          "label": "Menu Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ZE Main Header"
    }
  ]
}
{% endschema %}
