<div class="main-product">
  <div class="container mx-auto p-4">
    <div class="grid gap-10 grid-cols-1 lg:grid-cols-2">
      <div class="main-product-media-col">
        <img src="{{ product.featured_image | image_url }}" width="" height="" alt="{{ product.title }} image">
      </div>
      <div class="main-product-content-col">
        <div class="w-full flex flex-col items-start justify-center gap-4">
          {%- assign from_id = 'product-form-' | append: section.id -%}
          {%- form 'product', product, id: from_id, class: 'w-full' -%}
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {% when '@app' %}
                  {% render block %}
                {%- when 'title' -%}
                  <h2 class="text-2xl font-bold my-3">{{ product.title }}</h2>
                {%- when 'vendor' -%}
                  <h2 class="text-md font-light my-3">{{ block.settings.vendor }}</h2>
                {%- when 'quantity' -%}
                  {%- render 'product-quantity-selector-snippet', product: product -%}
                {%- when 'variants' -%}
                  {%- if block.settings.variant_type == 'pills' -%}
                    {%- render 'product-variants-pills', product: product -%}
                  {%- endif -%}
                  {%- if block.settings.variant_type == 'selector' -%}
                    {%- render 'product-variants-selector', product: product -%}
                  {%- endif -%}
                {%- when 'price' -%}
                  <h3 class="text-md font-light my-3">{{ product.price | money }}</h3>
                {%- when 'sku' -%}
                  <span class="text-md font-light my-3">{{ product.sku }}</span>
                {%- when 'custom' -%}
                  <div class="text-md font-light my-3">{{ block.settings.liquid }}</div>
                {% when 'buttons' %}
                  <button class="block w-full border my-3 py-2 px-3 cursor-pointer bg-black text-white hover:bg-amber-100 hover:text-black transition duration-300">
                    Add to cart
                  </button>
                  {%- if block.settings.enable_dynamic_button -%}
                    <div class="w-full my-3">
                      {{ form | payment_button }}
                    </div>
                  {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}

            {{ form | payment_terms }}
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-product-slider.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Main Product",
  "tag": "section",
  "class": "main-product-wrapper",
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "name": "Price",
      "type": "price",
      "limit": 1
    },
    {
      "name": "Title",
      "type": "title",
      "limit": 1,
      "settings": []
    },
    {
      "name": "Vendor",
      "type": "vendor",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "vendor",
          "label": "Vendor",
          "default": "{{ product.vendor }}"
        }
      ]
    },
    {
      "type": "quantity",
      "name": "Quantity",
      "limit": 1,
      "settings": []
    },
    {
      "type": "variants",
      "name": "Variants",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "variant_type",
          "label": "Variant Type",
          "options": [
            {
              "value": "pills",
              "label": "Pills"
            },
            {
              "value": "selector",
              "label": "Selector"
            }
          ],
          "default": "pills"
        }
      ]
    },
    {
      "type": "custom",
      "name": "Custom Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid Code"
        }
      ]
    },
    {
      "name": "SKU",
      "type": "sku",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_dynamic_button",
          "label": "Enable Dynamic Payment",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "main-product",
      "blocks": [
        {
          "type": "title"
        }
      ]
    }
  ]
}
{% endschema %}
